<div class="container mb-5 mt-5 table-responsive">
    <table class="table table-bordered ">
        <thead>
          <tr class="table-dark"> 
            <th scope="col text-light">Invoice Number</th>
            <th scope="col text-light">Net</th>
            <th scope="col text-light">% Tax</th>
            <th scope="col text-light">Total</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let invoice of invoices.data">
              <td>{{invoice.invoiceNumber}}</td>
              <td>{{invoice.net.$numberDecimal}}</td>
              <td>{{invoice.tax}}</td>
              <td>{{invoice.total.$numberDecimal}}</td>
            </tr>

  

        </tbody>
      </table>
    </div>